![logo uai fic.png]()


**Fundamentos de ciencias de datos,   Sección 3,   2022-2.**


**Profesora:   Carolina Lagos Campos.**


**Ayudante:   Bruno Reyes Sánchez.**

## **Tópicos**

  - Extraer columnas y filas
  - Agrupacion de datos
  - Orden en las filas, de mayor a menor y viceversa

In [1]:
#Modulos necesarios

import pandas as pd
import numpy as np

In [2]:
#Sirve para leer csv

df_estonia = pd.read_csv("https://raw.githubusercontent.com/lmudu2/EstoniaDisaster/master/estonia-passenger-list.csv")

Si es necesario, puedes usar argumentos dentro de la funcion, como sep y encoding.

Adentro de sep = " ", puedes escribir el tipo de separacion que tiene el archivo csv, como .   ,    ;    :     |, etc, eso lo puedes saber revisando el mismo desde excel, si no inclues este argumento, la funcion read_csv separará por defecto con comas.

Adentro de encoding = " ", puedes esccribir el formato del texto como "latin-1" y "utf-8".

In [3]:
df_estonia

,PassengerId,Country,Firstname,Lastname,Sex,Age,Category,Survived
0,1,Sweden,ARVID KALLE,AADLI,M,62,P,0
1,2,Estonia,LEA,AALISTE,F,22,C,0
2,3,Estonia,AIRI,AAVASTE,F,21,C,0
3,4,Sweden,JURI,AAVIK,M,53,C,0
4,5,Sweden,BRITTA ELISABET,AHLSTROM,F,55,P,0
...,...,...,...,...,...,...,...,...
984,985,Sweden,ANNA INGRID BIRGITTA,OSTROM,F,60,P,0
985,986,Sweden,ELMAR MIKAEL,OUN,M,34,P,1
986,987,Sweden,ENN,QUNAPUU,M,77,P,0
987,988,Sweden,LY,GUNAPUU,F,87,P,0
988,989,Sweden,CARL,OVBERG,M,42,P,1

## Funciones útiles

In [4]:
#Información de los datos

df_estonia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 989 entries, 0 to 988
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  989 non-null    int64
 1   Country      989 non-null    object
 2   Firstname    989 non-null    object
 3   Lastname     989 non-null    object
 4   Sex          989 non-null    object
 5   Age          989 non-null    int64
 6   Category     989 non-null    object
 7   Survived     989 non-null    int64
dtypes: int64(3), object(5)
memory usage: 61.9+ KB

In [5]:
#Pre-analisis estadistico de los datos segun las columnas numericas.

df_estonia.describe()

       PassengerId         Age    Survived
count   989.000000  989.000000  989.000000
mean    494.992922   44.575329    0.138524
std     285.643660   17.235146    0.345624
min       1.000000    0.000000    0.000000
25%     248.000000   30.000000    0.000000
50%     495.000000   44.000000    0.000000
75%     742.000000   59.000000    0.000000
max     989.000000   87.000000    1.000000

In [6]:
#Dimension de la tabla

df_estonia.shape

(989, 8)

In [7]:
#Primeras 5 filas

df_estonia.head()   #Se puede aumentar el numero de filas al colocar numeros dentro de los parentesis.

   PassengerId  Country        Firstname  Lastname Sex  Age Category  Survived
0            1   Sweden      ARVID KALLE     AADLI   M   62        P         0
1            2  Estonia              LEA   AALISTE   F   22        C         0
2            3  Estonia             AIRI   AAVASTE   F   21        C         0
3            4   Sweden             JURI     AAVIK   M   53        C         0
4            5   Sweden  BRITTA ELISABET  AHLSTROM   F   55        P         0

In [8]:
#Para identificar los datos de una columna en especifico

df_estonia["Country"].unique()

array(['Sweden', 'Estonia', 'Latvia', 'Russia', 'Germany', 'Finland',
       'Great Britain', 'Morocco', 'Denmark', 'France', 'Netherlands',
       'Norway', 'Lithuania', 'Nigeria', 'Canada', 'Belarus'],
      dtype=object)

## Pandas

Seleccionar columnas

In [9]:
#Seleccion respecto al nombre y edad de la persona

df_persona = df_estonia[['Firstname',	'Lastname', 'Age']]
df_persona

                Firstname  Lastname  Age
0             ARVID KALLE     AADLI   62
1                     LEA   AALISTE   22
2                    AIRI   AAVASTE   21
3                    JURI     AAVIK   53
4         BRITTA ELISABET  AHLSTROM   55
..                    ...       ...  ...
984  ANNA INGRID BIRGITTA    OSTROM   60
985          ELMAR MIKAEL       OUN   34
986                   ENN   QUNAPUU   77
987                    LY   GUNAPUU   87
988                  CARL    OVBERG   42

[989 rows x 3 columns]

In [10]:
#Condicionales

#Con numeros

df_estonia[df_estonia["Age"] > 50]  #Se aplica la condicional "mayor a 50" a la columna de edad (Age)

,PassengerId,Country,Firstname,Lastname,Sex,Age,Category,Survived
0,1,Sweden,ARVID KALLE,AADLI,M,62,P,0
3,4,Sweden,JURI,AAVIK,M,53,C,0
4,5,Sweden,BRITTA ELISABET,AHLSTROM,F,55,P,0
5,6,Sweden,GERD INGA MAGNHILD,AHLSTROM,F,71,P,0
6,7,Sweden,HJALMAR,AHLSTROM,M,60,P,0
...,...,...,...,...,...,...,...,...
980,981,Sweden,GUNHILD ANNA-LISA,OMAR,F,54,P,0
983,984,Sweden,GUNNEL MARIE,OSTLUND,F,51,P,0
984,985,Sweden,ANNA INGRID BIRGITTA,OSTROM,F,60,P,0
986,987,Sweden,ENN,QUNAPUU,M,77,P,0
987,988,Sweden,LY,GUNAPUU,F,87,P,0

In [11]:
#Se muestran solamente los pasajeros con nacionalidad en Dinamarca.

df_estonia[df_estonia["Country"] == "Denmark"]

,PassengerId,Country,Firstname,Lastname,Sex,Age,Category,Survived
93,94,Denmark,MORTEN,BOJE,M,28,P,1
328,329,Denmark,DICK ROGER,JORGENSEN,M,20,P,0
329,330,Denmark,LARS KRISTOFER,JORGENSEN,M,13,P,0
330,331,Denmark,TOVE LONFELDT,JORGENSEN,F,41,P,0
584,585,Denmark,DANI,MOLLER,M,20,P,0
979,980,Denmark,KNUD,OQLLGAARD,M,67,P,0

In [12]:
#Condicional doble

df_estonia[(df_estonia.Sex == "F") & (df_estonia.Category == "P")]

,PassengerId,Country,Firstname,Lastname,Sex,Age,Category,Survived
4,5,Sweden,BRITTA ELISABET,AHLSTROM,F,55,P,0
5,6,Sweden,GERD INGA MAGNHILD,AHLSTROM,F,71,P,0
7,8,Estonia,PILLE,AHMAN,F,18,P,0
9,10,Sweden,ANNA MARIA,ALDRIN,F,63,P,0
11,12,Estonia,NELLI,ALEKSEEVA,F,61,P,0
...,...,...,...,...,...,...,...,...
980,981,Sweden,GUNHILD ANNA-LISA,OMAR,F,54,P,0
982,983,Sweden,MAUD HELENA,QSTERVALL,F,24,P,0
983,984,Sweden,GUNNEL MARIE,OSTLUND,F,51,P,0
984,985,Sweden,ANNA INGRID BIRGITTA,OSTROM,F,60,P,0
987,988,Sweden,LY,GUNAPUU,F,87,P,0

**Groupby**

In [13]:
"""df.groupby(df['columna_para_agrupar'])['columna_operar'].count()"""

# .count() => Contar caracteres 
# .sum() => Sumar numeros (enteros y decimales)
# .mean() => Promedio

"df.groupby(df['columna_para_agrupar'])['columna_operar'].count()"

In [14]:
#Seleccionamos todas las filas donde hayan mujeres

df_muj = df_estonia[df_estonia["Sex"] == "F"]
df_muj = df_muj[["Country", "Sex"]]
df_muj

     Country Sex
1    Estonia   F
2    Estonia   F
4     Sweden   F
5     Sweden   F
7    Estonia   F
..       ...  ..
980   Sweden   F
982   Sweden   F
983   Sweden   F
984   Sweden   F
987   Sweden   F

[486 rows x 2 columns]

In [15]:
#Agrupemos respecto a las nacionalidades de las personas

df_group = df_muj.groupby(df_muj['Country'])['Sex'].count()
df_group = pd.DataFrame(df_group) #Para correguir los efectos de esta tabla, podemos buscar ciertos comandos en internet que nos ayuden a correguir aquello
df_group

           Sex
Country
Belarus      1
Canada       1
Denmark      1
Estonia    161
Finland      4
France       1
Germany      1
Latvia      10
Lithuania    2
Norway       2
Russia       3
Sweden     299

In [16]:
df_group = df_group.reset_index() #Aqui finalmente queda reindexado
df_group

      Country  Sex
0     Belarus    1
1      Canada    1
2     Denmark    1
3     Estonia  161
4     Finland    4
5      France    1
6     Germany    1
7      Latvia   10
8   Lithuania    2
9      Norway    2
10     Russia    3
11     Sweden  299

sort_values

In [17]:
"""df.sort_values('columna_considerar', ascending=False)"""

#False => Mayor a menor
#True => Menor a mayor

"df.sort_values('columna_considerar', ascending=False)"

In [18]:
#Tomando el DataFrame anterior, lo ordenamos de mayor a menor

df_group = df_group.sort_values('Sex', ascending=False)
df_group

      Country  Sex
11     Sweden  299
3     Estonia  161
7      Latvia   10
4     Finland    4
10     Russia    3
8   Lithuania    2
9      Norway    2
0     Belarus    1
1      Canada    1
2     Denmark    1
5      France    1
6     Germany    1

## Actividad

1.-Identifique a la persona más longeva de la embarcación que haya sobrevivido

2.-Encuentre la nación con la mayor cantidad de pasajeros vivos tras el accidente.

3.-Encuentre las 5 personas más jovenes de la tripulacion.

4.-¿Cuál es la cantidad de hombres que murieron?

5.-Agrupe a los pasajeros respecto a la categoría.